body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.5s ease;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h1 {
    color: #333;
}

.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-box, .mixer-color {
    width: 150px;
    height: 150px;
    border: 2px solid #333;
}

.mixer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mixer-sliders {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.mixer-sliders label {
    margin-bottom: 5px;
}

.mixer-sliders input[type="range"] {
    width: 80%;
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
}

#message {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

/* Add styling for the color input boxes */
.color-input-box {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.color-input-box label {
    width: 80px;
    text-align: right;
    margin-right: 10px;
}

.color-input-box input[type="number"] {
    width: 50px;
}
